<html>
  <head>
  	<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app" class="s-bg">
    <section id="signInAndSignUp" v-if='!currentUser'>
    <div class="m-logo">
      </div>
      <div class="m-sign">
      <div class="change-sign">
        <label><input type="radio" name="type" value="signup" v-model='actionType'>注册</label>
        <label><input type="radio" name="type" value="login" v-model='actionType'>登入</label>
      </div>
      <div class="signUp sign" v-if="actionType=='signup'">
        <form @submit.prevent='signup'>
          <div class="formRow">
          	用户名:<input type="text" name="用户名" v-model='formData.username'>
          </div>
          <div class="formRow">
          	密码:<input type="password" name="用户名" v-model='formData.password'>
          </div>
          <div class="formActions">
          	<input type="submit" name="注册" value="注册">
          </div>
        </form>
      </div>

       <div class="login sign" v-if="actionType=='login'">
        <form @submit.prevent='login'>
          <div class="formRow">
          	用户名:<input type="text" name="用户名" v-model='formData.username'>
          </div>
          <div class="formRow">
          	密码:<input type="password" name="用户名" v-model='formData.password'>
          </div>
          <div class="formActions">
          	<input type="submit" name="登录" value="登录">
          </div>
        </form>
      </div>
</div>
    </section>
    <section id="todo" v-if='currentUser' class="m-lists">
        <!-- 让用户输入代办内容 -->
    	<div class="newTask">添加代办事项：
    		<input type="text" name="todo" v-model='newTodo' @keyup.enter='addTodo'>
    	</div>
    	<!-- 容纳所有代办事项 -->
    	<div class="todos">
      <ol>
       <li v-for='todo in todoList'>
       <div class="todo">
       <span class="todoTitle">
         <input type="checkbox" v-model='todo.done' name="">
         <span >{{todo.title}}</span>
         </span>
         <span class="active">
         <span v-if='todo.done' >已完成</span>
         <span v-else >未完成</span>
         <button @click="removeTodo(todo)">删除</button>
         </span>
         </div>

       </li> 
              </ol>
    </div>
    <button @click.prevent='logout' class="signOut">登出</button>

    </section>
    <script src="bundle.js"></script>
  </body>
</html>
