<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>demo</title>
	<script src="http://vuejs.org/js/vue.js"></script>
</head>
<body>
<div id="app">
	<p :style='red' v-html='hi'></p>
	<p v-if='seen' :title='title'>{{message}}</p>
	<ul>
	<li v-for='item in items'>{{item.text}}</li>
	</ul>
</div>
	<script type="text/javascript">
		var vm=new Vue({
			el:'#app',
			data:{
				red:'color:red;',
				hi:'<h1>lala</h1>',
				seen:true,
				title:'zhichao',
				message:'hello',
				items:[
					{text:'a'},
					{text:'b'},
					{text:'c'}
				]
			}
		})
	</script>
</body>
</html>